section {
  margin: 120px auto !important; }

.modal {
  border-radius: 15px; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Exo+2"; }

p, span, a, input {
  font-family: "Lato"; }

nav {
  background-color: transparent;
  height: 100px; }
  nav .brand-logo {
    left: 0; }
    @media only screen and (max-width: 992px) {
      nav .brand-logo {
        left: 50%; } }
  nav .search-mid-screen {
    height: 56px;
    font-size: 0.7rem;
    line-height: 90px;
    margin-right: 15px; }
    nav .search-mid-screen i {
      padding: 5px;
      color: #ca9f39; }
  nav ul.left {
    margin-left: 20vw; }
  nav ul.right {
    margin-right: 5vw; }
  nav ul a {
    color: #ca9f39;
    padding: 18px 8px;
    font-size: 1rem; }
    nav ul a i.fa {
      font-size: 1.3rem;
      margin: 0px 10px; }
    @media only screen and (min-width: 998px) and (max-width: 1020px) {
      nav ul a {
        font-size: 0.9rem; } }
    nav ul a:hover {
      background-color: #ca9f39;
      color: #fff; }
  nav .sidenav-trigger i {
    color: #ca9f39;
    line-height: 90px !important; }
  nav .sidenav li a {
    color: #ca9f39; }
    nav .sidenav li a:hover {
      background-color: #ca9f39;
      color: #fff; }
  nav .nav-content {
    z-index: 10;
    position: absolute;
    width: 100%;
    background-color: #ca9f39;
    height: 70px; }
    nav .nav-content .category a.dropdown-trigger {
      background-color: transparent;
      box-shadow: none;
      font-size: 0.9rem;
      padding-right: 0; }
    nav .nav-content .category i {
      line-height: 50px;
      font-size: 1.1rem;
      display: inline-block; }
    nav .nav-content .category .dropdown-content {
      width: 100% !important;
      left: 0 !important;
      top: 50px !important;
      background-color: rgba(255, 255, 255, 0.9); }
  nav div#search h4 {
    color: #ca9f39; }
  nav div#search input[type="text"]:focus {
    border-bottom-color: #ca9f39; }
  nav div#search input[type="submit"] {
    background-color: #202020;
    color: #ca9f39; }
  nav div#login h4 {
    color: #202020; }
  nav div#login input[type="text"]:focuse, nav div#login input[type="password"]:focuse {
    border-bottom: 1px solid #ca9f39;
    box-shadow: 0 1px 0 0 #ca9f39; }
  nav div#login input[type="submit"] {
    background-color: #ca9f39;
    color: #202020; }
  nav div#login a.signup {
    background-color: #202020;
    color: #ca9f39; }
  nav div#login p {
    color: #202020;
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 0; }
  nav div#login .facebook {
    display: inline-block;
    padding: 10px; }
    nav div#login .facebook a {
      color: #3b5998; }
  nav div#login .google {
    display: inline-block;
    padding: 10px; }
    nav div#login .google a {
      color: #dd4b39; }

@media only screen and (min-width: 1001px) {
  header {
    margin-top: 120px; } }
header .slider .indicators .indicator-item.active {
  background-color: #ca9f39; }
@media only screen and (max-width: 1001px) {
  header .category {
    margin-top: 40px; } }
header .category .category-name {
  font-weight: bold;
  color: #ca9f39;
  font-family: "Exo+2";
  text-transform: uppercase; }

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 20px auto;
  color: #ca9f39;
  font-family: "Exo+2"; }

.latest-products .section-title h2 {
  font-weight: bold; }
.latest-products .card .card-content p {
  color: #ca9f39;
  font-weight: bold; }
.latest-products .card .card-content a {
  margin: 10px auto;
  background-color: #ca9f39;
  border-radius: 10px;
  font-size: 0.7rem;
  text-align: center;
  display: block; }

.popular_products {
  padding: 20px 0px;
  background-color: #ca9f39; }
  .popular_products .section-title h2 {
    color: #fff;
    text-shadow: 5px 1px 2px rgba(0, 0, 0, 0.2); }
  .popular_products .item {
    margin: 10px auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .popular_products .item:hover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .popular_products .item p {
      color: #ca9f39;
      font-weight: bold; }
  .popular_products .owl-nav {
    text-align: center; }
    .popular_products .owl-nav .owl-prev, .popular_products .owl-nav .owl-next {
      display: inline-block;
      padding: 10px;
      background-color: #fff;
      color: #ca9f39;
      margin: 15px 10px;
      font-family: "Lato";
      font-weight: bold;
      text-transform: uppercase; }

.categories .item {
  position: relative;
  display: inline-block;
  max-height: 200px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .categories .item:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .categories .item .category-name {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    text-align: center;
    padding: 60px;
    color: #fff; }
    .categories .item .category-name h6 {
      font-size: 2.4rem; }
.categories .owl-nav {
  text-align: center; }
  .categories .owl-nav .owl-prev, .categories .owl-nav .owl-next {
    display: inline-block;
    padding: 10px;
    background-color: #ca9f39;
    color: #fff;
    margin: 15px 10px;
    font-family: "Lato";
    font-weight: bold;
    text-transform: uppercase; }

.discounts {
  position: relative; }
  .discounts .content {
    position: absolute;
    width: 40%;
    top: -60px;
    text-align: center;
    padding: 60px;
    left: 30%;
    background-color: #ca9f39;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: 500px; }
    .discounts .content a {
      background-color: #202020;
      color: #ca9f39;
      border-radius: 10px; }

.deals {
  padding: 30px;
  background-color: #fefefe;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .deals h2 {
    color: #ca9f39; }
  .deals p {
    text-transform: uppercase;
    font-weight: bold; }
  .deals .deal-name {
    font-family: Pacifico;
    margin-top: 0;
    position: relative;
    color: #202020;
    font-size: 4rem;
    text-shadow: 5px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px; }
  .deals a {
    border-radius: 10px;
    background-color: #202020;
    color: #ca9f39;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    display: block; }
    .deals a:hover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      background-color: transparent;
      border: 2px solid #202020;
      color: #ca9f39;
      border-radius: 0px; }

.panel-fashion .section-title h2 {
  padding: 20px;
  background-color: #ca9f39;
  border-left: 6px solid #202020;
  border-right: 6px solid #202020;
  color: #fff;
  font-size: 1.6rem;
  text-shadow: 5px 1px 2px rgba(0, 0, 0, 0.2); }
.panel-fashion img {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .panel-fashion img:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
.panel-fashion p {
  font-weight: bold;
  color: #202020; }

.panel-electronic .section-title h2 {
  padding: 20px;
  background-color: #ca9f39;
  border-left: 6px solid #202020;
  border-right: 6px solid #202020;
  color: #fff;
  font-size: 1.6rem;
  text-shadow: 5px 1px 2px rgba(0, 0, 0, 0.2); }
.panel-electronic img {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .panel-electronic img:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
.panel-electronic p {
  font-weight: bold;
  color: #202020; }

footer {
  background: linear-gradient(rgba(202, 159, 57, 0.8), rgba(202, 159, 57, 0.8)), url("../imgs/footer.jpeg") center fixed;
  padding: 40px; }
  footer .social-media {
    text-align: center; }
    footer .social-media div {
      display: inline-block;
      padding: 20px; }
    footer .social-media .facebook a {
      color: #3b5998;
      font-size: 0.9rem; }
      footer .social-media .facebook a:hover {
        color: #202020; }
    footer .social-media .youtube a {
      color: #ff0000;
      font-size: 0.9rem; }
      footer .social-media .youtube a:hover {
        color: #202020; }
    footer .social-media .linkedin a {
      color: #007bb5;
      font-size: 0.9rem; }
      footer .social-media .linkedin a:hover {
        color: #202020; }
    footer .social-media .instagram a {
      color: #e95950;
      font-size: 0.9rem; }
      footer .social-media .instagram a:hover {
        color: #202020; }
  footer p.terms {
    font-size: 1.3rem;
    color: #202020;
    font-weight: bold; }
  footer p.syweb {
    font-size: 1.1rem;
    color: #202020;
    font-weight: bold; }

.cart {
  margin: 150px auto; }
  .cart .fa-close {
    color: red; }

.cart_mobile .item {
  margin: 10px auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden; }
  .cart_mobile .item .item-content {
    padding: 20px; }
    .cart_mobile .item .item-content h6 {
      font-weight: bold;
      font-size: 1.3rem; }
    .cart_mobile .item .item-content span {
      color: green; }
    .cart_mobile .item .item-content a {
      background-color: #202020;
      color: #ca9f39;
      margin: 10px auto; }

/*# sourceMappingURL=cart.css.map */
